/*

/* Gitignore */
!.gitignore

/* README.md */
!README.md

!.config
.config/*

/* LunarVim */
!.config/lvim/
.config/lvim/plugin/*

/* Neovim */
!.config/nvim

/* Alacritty */
!.config/alacritty

.netrwhist

